<div class="details">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Name:</b>
    <%= @host.name %>
  </p>

  <p>
    <b>Address1:</b>
    <%= @host.address1 %>
  </p>

  <p>
    <b>Address2:</b>
    <%= @host.address2 %>
  </p>

  <p>
    <b>City:</b>
    <%= @host.city %>
  </p>

  <p>
    <b>State:</b>
    <%= @host.state %>
  </p>

  <p>
    <b>Zip:</b>
    <%= @host.zip %>
  </p>

  <p>
    <b>Phone:</b>
    <%= @host.phone %>
  </p>

  <p>
    <b>Number of guests:</b>
    <%= @host.number_of_guests %>
  </p>

  <p>
    <b>Number of guests remaining:</b>
    <%= @host.number_of_guests_remaining %>
  </p>

  <p>
    <b>Description:</b>
    <%= @host.description %>
  </p>

  <p>
    <b>Email:</b>
    <%= @host.email %>
  </p>


  <%= link_to 'Edit', edit_host_path(@host) %> |
  <%= link_to 'Back', hosts_path %>
</div>