<div class="details">
	<%= image_tag "cowboh-150.png" %>
	
    <h1>BohConf is back!</h1>
    <h2>April 23rd - 25th</h2>
    <h2>Hilton Austin, 4th Floor</h2>

    <section class="grouped">
        <h1>Hacks! Talks! BoFs!</h1>
        <p>We've got 2 rooms reserved for everybody's favorite unconference. No RailsConf badge required.   Please register on EventBrite to attend and submit your session ideas below.</p>
    
        <p>BohConf is a hacking-centric event that will include community code drives featuring well-known OSS authors, barcamp-style discussions, and more.</p>

        <p><a href="http://bohconf-railsconf2012.eventbrite.com/" class="action">REGISTER for BohConf today! (<em>it's free!</em>)</a></p>

        <p><%= link_to 'FOLLLOW @bohconf for the latest news', 'http://twitter.com/bohconf', :class => 'action'  %></p>

        <p><%= link_to 'SUBMIT your idea for a BohConf session', new_bohconf_session_path, :class => 'action' %></p>
    </section>

	<% @bohconf_sessions = BohconfSession.where(:hide => false) %>
	<% if @bohconf_sessions.any? %>
    <section class="grouped">
        <h1>Proposed Sessions</h1>
		<ul>
			<% @bohconf_sessions.each do |session| %>
				<li>
                    <% if session.host_twitter.present? %>
                        <%= image_tag("http://api.twitter.com/1/users/profile_image/#{session.host_twitter}?size=normal", :size => "48x48") %>
                    <% end %>
                    <p class="session-type">
                        <%= session.session_type %>
                    </p>
					<h2><%= link_to_if session.host_twitter.present?, session.host_name, "http://twitter.com/#{session.host_twitter}" %></h2>
					<h2><%= session.title %></h2>
					<p class="session-description">
						<%= auto_link session.abstract %>
					</p>
				</li>
			<% end %>
		</ul>
    </section>
	<% end %>
</div>