<div class="details">
    <h1>BohConf is back!</h1>
    <h2>April 23rd - 25th</h2>
    <p>We've got 2 rooms at the Hilton for everybody's favorite unconf. No badge required.</p>
    
    <p>BohConf is a hacking-centric event that will include community code drives featuring well-known OSS authors, barcamp-style discussions, and more.</p>

    <p><%= link_to 'Submit your idea for a BohConf Session', new_bohconf_session_path, :class => 'btn btn-large btn-primary' %></p>

    <p>Follow <%= link_to '@bohconf', 'http://twitter.com/bohconf' %> to keep up with the latest news.</p>

    <p><%= link_to 'http://plancast.com/p/a137/bohconf-3', 'http://plancast.com/p/a137/bohconf-3' %></p>

  <h3>Proposed Sessions</h3>
	<ul>
		<% BohconfSession.where(:hide => false).each do |session| %>
			<li>
				<h4>
					<%= link_to_if session.host_twitter.present?, session.host_name, "http://twitter.com/#{session.host_twitter}" %>:
					<%= session.title %>
				</h4>
				<p class="normal">
					<%= session.session_type %>
				</p>
				<p class="normal">
					<%= session.abstract %>
				</p>
			</li>
		<% end %>
	</ul>
</div>