<div class="details">
	<%= image_tag "cowboh-150.png" %>
	
    <h1>BohConf is back!</h1>
    <h2>April 23rd - 25th</h2>
    <h2>Hilton Austin, 4th Floor</h2>

    <p>We've got 2 rooms reserved for everybody's favorite unconference. No badge required.</p>
    
    <p>BohConf is a hacking-centric event that will include community code drives featuring well-known OSS authors, barcamp-style discussions, and more.</p>

    <p><b><a href="http://bohconf-railsconf2012.eventbrite.com/">Register for BohConf</a> today! (free)</b></p>

    <p>Follow <%= link_to '@bohconf', 'http://twitter.com/bohconf' %> to keep up with the latest news.</p>

    <p><%= link_to 'Submit your idea for a BohConf Session', new_bohconf_session_path, :class => 'btn btn-large btn-primary' %></p>

	<% @bohconf_sessions = BohconfSession.where(:hide => false) %>
	<% if @bohconf_sessions.any? %>
	  <h3>Proposed Sessions</h3>
		<ul>
			<% @bohconf_sessions.each do |session| %>
				<li>
					<h4>
						<% if session.host_twitter.present? %>
							<%= image_tag("http://api.twitter.com/1/users/profile_image/#{session.host_twitter}?size=normal") %>
						<% end %>
						<%= link_to_if session.host_twitter.present?, session.host_name, "http://twitter.com/#{session.host_twitter}" %>:
						<%= session.title %>
					</h4>
					<p class="normal">
						<%= session.session_type %>
					</p>
					<p class="normal">
						<%= session.abstract %>
					</p>
				</li>
			<% end %>
		</ul>
	<% end %>
</div>