<div class="details">
	<%= image_tag "ignite-150.png" %>

    <h1>Ignite RailsConf</h1>
    <h2>April 22nd 6:00pm - 9:00pm</h2>
    <h2>Hilton Austin, Salon J</h2>

    <section class="grouped">
        <h1>Ignite!</h1>

        <p><strong>Five minutes, 20 slides. What would you say?</strong> Sixteen artists, technologists, thinkers, and personalities take the stage to answer this challenge.  What is Ignite?  Fast-paced, fun, thought-provoking, social, local, global - Ignite is all of these and more. It's a high-energy evening of 5-minute talks by people who have an idea - and the guts to get onstage and share it with the rest of the Rails community. We're looking for a wide range of talks and are currently accepting speaking proposals - submit your speaking proposal now! Not all of the talks will be Rails-specific but all will be of interest to Rails developers.  You do not have to be a RailsConf attendee to attend or speak at the event.  Proposals are due by <strong>5 pm CT on Friday, 4/13/2012</strong>.</p>

        <p><a href="http://ignite-railsconf2012.eventbrite.com/" class="action">REGISTER for Ignite RailsConf today!</a></p>

        <p><%= link_to 'FOLLOW @igniterailsconf for the latest news', 'http://twitter.com/igniterailsconf', :class => 'action' %></p>

        <p></p>

        <h2>Proposal submission is now closed.</h2>
    </section>

    <% @ignite_speakers = Speaker.where(:hide => false) %>
    <% if @ignite_speakers.any? %>
    <section class="grouped">
        <h1>Proposed Talks</h1>
        <ul>
        	<% Speaker.where(:hide => false).each do |speaker| %>
        		<li>
                    <% if speaker.twitter.present? %>
                        <%= image_tag("http://api.twitter.com/1/users/profile_image/#{speaker.twitter}?size=normal", :size => "48x48") %>
                    <% end %>
        			<h2><%= link_to_if speaker.twitter.present?, speaker.name, "http://twitter.com/#{speaker.twitter}" %></h2>
        			<h2><%= speaker.title %></h2>
        			<p class="session-description">
        				<%= speaker.abstract %>
        			</p>
        		</li>
        	<% end %>
        </ul>
    </section>
    <% end %>
</div>
