<div class="activity">
	<h1>RailsConf 2012<br />Community Events</h1>
	<p>
		We're very excited to welcome <%= link_to 'RailsConf 2012', 'http://railsconf2012.com/' %><br />
		to Austin, Texas April 23 - 25.
	</p>
	<p>
		Below are a few things <%= link_to 'Austin on Rails', 'http://austinonrails.org/' %> is doing<br />
		to help make your visit more enjoyable.
	</p>

	<p class="normal">If you have any questions or more ideas get in touch with <%= mail_to 'railsconf@austinonrails.org' %>.</p>
</div>

<ul class="unstyled">
	<li><%= link_to 'BohConf', bohconf_path %></li>
	<li><%= link_to 'Ignite RailsConf', ignite_path %></li>
	<li><%= link_to 'Stay with a Local', stay_path %></li>
	<li><%= link_to 'Talk with a Local', talk_path %></li>
	<li><%= link_to 'RailsConf 5k', fivek_path %></li>
	<li><%= link_to 'Austin on Rails Happy Hour', happy_path %></li>
	<li><%= link_to 'Kids Code Camp', kids_path %></li>
	<li><%= link_to 'Sponsor an Event', sponsor_path %></li>
	<li><%= link_to 'Visiting Usergroups', usergroups_path %></li>
</ul>