 <%= form_for(@bohconf_session) do |f| %>

  <% if @bohconf_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bohconf_session.errors.count, "error") %> prohibited this bohconf_session from being saved:</h2>

      <ul>
      <% @bohconf_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <fieldset>
      <div class="control-group clearfix">
        <label for="">Host Name</label>
        <%= f.text_field :host_name, :placeholder => "first and last name" %>
      </div>
      <div class="control-group clearfix">
        <label for="">Email</label>
        <%= f.text_field :host_email, :placeholder => "example@example.com" %>
      </div>
      <div class="control-group clearfix">
        <label for="">Twitter</label>
        <%= f.text_field :host_twitter, :placeholder => "username (no @)" %>
      </div>
      <div class="control-group clearfix">
        <label for="">Topic</label>
        <%= f.text_field :title, :placeholder => "My Awesome Session!" %>
      </div>
      <div class="control-group clearfix">
        <label for="">Description</label>
        <%= f.text_area :abstract, :rows => 4, :placeholder => '(optional)' %>
      </div>
      <div class="control-group clearfix">
        <label for="">Type</label>
        <%= f.select :session_type, options_for_select(['hack', 'talk', 'bof'], @bohconf_session.session_type) %>
      </div>
      <div class="control-group clearfix">
        <label for="">Starts</label>
        <%= f.select :starts_at, session_time(@bohconf_session.starts_at) %>
      </div>
       <p class="form-notes">We only have space for 1 talk at a time. If you're submitting a talk <%= link_to "make sure you're not overlapping", bohconf_sessions_soon_path(:session_type => 'talk') %>.</p><br />
      <div class="control-group clearfix">
        <label for="">Ends</label>
        <%= f.select :ends_at, session_time(@bohconf_session.ends_at) %>
      </div>
      <div class="form-actions">
        <button class="" type="submit">Blammo</button>
      </div>
    </fieldset>
  <% end %>