<h1>Listing bohconf_sessions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Abstract</th>
    <th>Host name</th>
    <th>Host email</th>
    <th>Host twitter</th>
    <th>Host bio</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bohconf_sessions.each do |bohconf_session| %>
  <tr>
    <td><%= bohconf_session.title %></td>
    <td><%= bohconf_session.abstract %></td>
    <td><%= bohconf_session.host_name %></td>
    <td><%= bohconf_session.host_email %></td>
    <td><%= bohconf_session.host_twitter %></td>
    <td><%= bohconf_session.host_bio %></td>
    <td><%= bohconf_session.starts_at %></td>
    <td><%= bohconf_session.ends_at %></td>
    <td><%= link_to 'Show', bohconf_session %></td>
    <td><%= link_to 'Edit', edit_bohconf_session_path(bohconf_session) %></td>
    <td><%= link_to 'Destroy', bohconf_session, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bohconf session', new_bohconf_session_path %>
