<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bohconf_session.title %>
</p>

<p>
  <b>Abstract:</b>
  <%= @bohconf_session.abstract %>
</p>

<p>
  <b>Host name:</b>
  <%= @bohconf_session.host_name %>
</p>

<p>
  <b>Host email:</b>
  <%= @bohconf_session.host_email %>
</p>

<p>
  <b>Host twitter:</b>
  <%= @bohconf_session.host_twitter %>
</p>

<p>
  <b>Host bio:</b>
  <%= @bohconf_session.host_bio %>
</p>

<p>
  <b>Starts at:</b>
  <%= @bohconf_session.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= @bohconf_session.ends_at %>
</p>


<%= link_to 'Edit', edit_bohconf_session_path(@bohconf_session) %> |
<%= link_to 'Back', bohconf_sessions_path %>
