<%= form_for(@speaker) do |f| %>
  <% if @speaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speaker.errors.count, "error") %> prohibited this speaker from being saved:</h2>

      <ul>
      <% @speaker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span6">
      <div class="control-group">
        <%= f.label :name %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :title %>
        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :email %>
        <div class="controls">
          <%= f.text_field :email %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :twitter %>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">@</span>
            <%= f.text_field :twitter, :class => 'span2' %>
          </div>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :abstract %>
        <div class="controls">
          <%= f.text_area :abstract %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :bio, 'Tell us a little about yourself.' %>
        <div class="controls">
          <%= f.text_area :bio, :rows => 5 %>
        </div>
      </div>
      <% unless @bohconf_session.new_record? %>
        <div class="control-group">
          <%= f.label :hide %>
          <div class="controls">
            <%= f.check_box :hide %>
          </div>
        </div>
      <% end %>
      <div class="form-actions">
        <%= f.submit 'Submit', :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
