<!DOCTYPE html>
<html>
<head>
  <title>Austin Hospitality</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller.controller_name.parameterize %>_<%= controller.action_name.parameterize %>">

<div class="container">
	<%= yield %>
</div>

</body>
</html>
