<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>   <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>   <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- TITLE -->
  <title>Austin on Rails Presents RailsConf 2012 Community Events</title>

  <!-- METAs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Austin on Rails has put together various events and services to make your RailsConf 2012 experience that much more enjoyable!">
  <meta name="viewport" content="width=device-width; initial-scale=1.0;">
  <%= csrf_meta_tags %>

  <!-- LINKED files -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="author" href="/humans.txt" />

  <!-- SCRIPTS -->
  <%= javascript_include_tag "application" %>

</head>


<body id="<%= controller.controller_name.parameterize %>_<%= controller.action_name.parameterize %>">
<div id="page">
  <div id="container">

    <div class="page-presenter">
      <a href="http://austinonrails.org/">Austin on Rails <b>presents</b></a>
    </div>

    <header>
      <h1 class="page-purpose">
        <a href="/"><b class="mobile"><%= image_tag "mobile/masthead.png" %></b><b class="desktop"><%= image_tag "full/masthead.png" %></b></a>
      </h1>
    </header>

    <div id="main" role="main">
      <hr class="mobile" />
        <%= yield %>
    </div> <!-- /#main -->

  </div> <!-- /#container -->

</div> <!-- /#page -->

<footer>
  <p class="mobile">
    <a href="/bohconf">Boh</a> | 
    <a href="/ignite">Ignite</a> | 
    <a href="/5k">5K</a> | 
    <a href="/happy">Happy Hour</a> | 
    <a href="/talk">Talk Local</a> | 
    <a href="/stay">Stay Local</a>
  </p>
  <p class="desktop">
    <a href="/bohconf">BohConf</a> | 
    <a href="/ignite">Ignite RailsConf</a> | 
    <a href="/5k">RailsConf 5K</a> | 
    <a href="/happy">Welcome to Austin Happy Hour</a> | 
    <a href="/talk">Talk With a Local</a> | 
    <a href="/stay">Stay With a Local</a>
  </p>
  <p class="desktop">Brought to you with love by <a href="http://twitter.com/chapambrose">@chapambrose</a>, <a href="http://twitter.com/damon">@damon</a>, <a href="http://twitter.com/jefflinwood">@jefflinwood</a>, and <a href="http://twitter.com/joshbutner">@joshbutner</a></p>
</footer>


<!-- Tracking -->
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f5ebe3a613f5d02a7000023');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>